_output
.DS_Store
gopath
dockerbuild

vendor
.vscode
*.out
logs

*.swp
/.dapper
/.tags
/.idea
/.trash-cache
.vagrant/
/.kube
/.cache
/.docker
/.*_history
/.viminfo
/.lesshst
/*.log
/bin
/etc
/build
/data-dir
/dist
/image/root
/image/agent
/image/go_build_agent
/image/main.squashfs
/package/dcp
/package/data.tar.zst
/pkg/cloud/data/zz_generated_bindata.go
__pycache__
/tests/.pytest_cache/
/tests/.tox/
/tests/.vscode
/sonobuoy-output
*.tmp